<!--<div class="card text-white bg-white">
    </!--<img src="..." class="card-img" alt="...">--/>
    <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
</div>
-->
<!--
<div class="card text-dark bg-light">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Light card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
-->


  <div class="card-group">
  <div class="card text-dark bg-light">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card text-dark bg-light">
    <div class="card-body">
      <img src="https://tse3.mm.bing.net/th?id=OIP.RuyadhnjOs6G96O9xicOGQHaHw&pid=Api&P=0&w=300&h=300" style="width: 50%; padding: 50px; margin-left: 100px;">
    </div>
  </div>
  <div class="card text-dark bg-light">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
