<div class="btn-group mt-5" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-warning" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">Samsung</button>
    <button type="button" class="btn btn-outline-warning" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Sony</button>
    <button type="button" class="btn btn-outline-warning" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">LG</button>
    <button type="button" class="btn btn-outline-warning" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample4">OnePlus</button>
  </div>



<div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
  <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcR0gAIJTw63diR4etpQn0mjm1VWBUP5f2gEVO_MVRrj7tWSBCXPiuts6RmuRjxHda1u1DOH5_CziqM&usqp=CAc" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Samsung 108cm(43 inches)</h5>
      </div>
    </div>
</div>
  </div>
  <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
    <div class="card">
      <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcTFfBiHD3-PvhefU7aKkrPnGCAsAMYkxSZiHr5vyILJoGZnV3vC7ezT-ZOGPYfS7n9PJyemD4upwpzU&usqp=CAc" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Samsung 138cm(55 inches)</h5>
      </div>
    </div>
</div>
  </div>
  <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcRjfFjgrxPs6Nq95xoiv2xAQBFRc8B4DNag4VOIuyIa5BsP84gNfb5W1947DCvRrZPaFqT2M90w6vOf&usqp=CAc" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Samsung 80cm(32 inches)</h5>
      </div>
    </div>
</div>
  </div>
  <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
    <div class="card">
      <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSUqQ3XLzuaxRMBgKaTNOrb-d6r5hJE_Hz50YoaRXM7KN5cgQkKEI9usAaRPM8nQMr0Cn2viFt2M3w&usqp=CAc" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Samsung 152cm(60 inches)</h5>
      </div>
    </div>
</div>
  </div>
</div>

    
    <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQs6_fuJU3SJF2AsLa3Eq1mwH8QifiDBFuPVC7VO8r4MVE92tUTPlEMfljI_EKTxlHZHTcLAri6&usqp=CAc" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sony Bravia 138.8cm(55 inches)</h5>
      </div>
    </div>
</div>
  </div>
  <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
    <div class="card">
      <img src="https://574033-1855293-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2021/03/Sony-Bravia-108-cm-43-inches-Full-HDd4-950x950.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sony Bravia 108cm(43 inches)</h5>
      </div>
    </div>
</div>
  </div>
  <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
    <div class="card">
      <img src="https://tse1.mm.bing.net/th?id=OIP.M4jZbZnrbaaFHn9ge30hrAAAAA&pid=Api&P=0&w=238&h=160" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sony Bravia 123cm(49 inches)</h5>
      </div>
    </div>
</div>
  </div>
  <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
    <div class="card">
      <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcQkA35nfHmkoamXx3WEdF-e1Ms-WMC4PQiHWoa4W85JhUvPCfq2Cli8-86tsErWn4GkYEdB_nHwMA&usqp=CAc" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sony Bravia 189cm(75 inches)</h5>
      </div>
    </div>
</div>
  </div>
</div>


    

    <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample3">
    <div class="card">
      <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQ_LA3MaY9B3AQqpHpKqSHYqbbubcaiWeHwzTLsiIeb0jqN_eAuEJcAStbbXTmERTlIgLrU6W2oyw&usqp=CAc" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LG 108cm(43 inches)</h5>
      </div>
    </div>
</div>
  </div>
  <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample3">
    <div class="card">
      <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTvQ0beqom-q464z8Es41gqVVN0a5_ixZCQQu1rQYKoUN5Od3_26DT9StWMMk5ikbd9KU4z8lDsEQo&usqp=CAc" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LG 139.7cm(55 inches)</h5>
      </div>
    </div>
</div>
  </div>
  <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample3">
    <div class="card">
      <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcT-gVez4yPYYcC30GgR2lOXUg00yd0ZU2hXHlCfOC92zPLmrZ-LnIFAil_no5p5varYvHKd8K1i0Mk&usqp=CAc" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LG 165.1cm(65 inches)</h5>
      </div>
    </div>
</div>
  </div>
  <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample3">
    <div class="card">
      <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRND33BVPPvhHd49Fr4YpvK43GFAjdLhdgnPOmLg9mxol0TKvg8Y8E4w085p6c06Wp1QLEC2miAdQ&usqp=CAc" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LG 80cm(32 inches)</h5>
      </div>
    </div>
</div>
  </div>
</div>


    

    <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample4">
    <div class="card">
      <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcQxms4NYGr9trNoBZSaIjD0jh9rN4JnOMSdcxT7WIbsXEZ_yR-O6bxzsmAq3LavwwP1AoXYZAcBpFY&usqp=CAc" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">OnePlus 138.8cm(55 inches)</h5>
      </div>
    </div>
</div>
  </div>
  <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample4">
    <div class="card">
      <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRNzVmL-V94cJfE6T1JZUUMfupE66usRCAH1RcJ3e0Ll-12DsmVQRcOuUXH1d-6Epn0L4guOow4FH4w&usqp=CAc" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">OnePlus 163.8cm(65 inches)</h5>
      </div>
    </div>
</div>
  </div>
  <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample4">
    <div class="card">
      <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQ5DjfNFv_MLk9kG-eM8Sml12XimZQYv9FV38aN_pbzoAw4B0uJCZmeyM1PLwHe12QHAGzKCcPb6ki7&usqp=CAc" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">OnePlus 108cm(43 inches)</h5>
      </div>
    </div>
</div>
  </div>
  <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample4">
    <div class="card">
      <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQWwZudELYfBgvogS-xnwpM-_SWEn9niX4CfTgqe9BdUxQqQnv5fnB8fE-LnY5HDuhyI4xvTeMesJxo&usqp=CAc" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">OnePlus 125.7cm(50 inches)</h5>
      </div>
    </div>
</div>
  </div>
</div>

  
  
  
    
  
  
  <!--
  <p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first element</a>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
  </p>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
          Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
          Some placeholder content for the second collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div> 
      </div>
    </div>
  </div>
  -->
