<div class="btn-group mt-5" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-warning" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">Samsung</button>
  <button type="button" class="btn btn-outline-warning" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">OnePlus</button>
  <button type="button" class="btn btn-outline-warning" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Redmi</button>
  <button type="button" class="btn btn-outline-warning" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample4">Apple</button>
</div>


<div class="card-group mt-5">
  <div class="collapse multi-collapse" id="multiCollapseExample1">
  <div class="card m-3">
    <img src="https://sp.yimg.com/ib/th?id=OP.PoxCV%2fPPdE8GxA474C474&o=5&pid=21.1" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung Galaxy A02S</h5>
    </div>
  </div>
  </div>
  <div class="collapse multi-collapse" id="multiCollapseExample1">
  <div class="card m-3">
    <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTvz1apmiKfZuR3UnrCeVJx5WySeJildVntTDl_ncy2KKMqtJYKMr-LvNCTdfm_2D9QGu-R9Ij6TH0&usqp=CAc" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung Galaxy S20</h5>
    </div>
  </div>
  </div>
  <div class="collapse multi-collapse" id="multiCollapseExample1">
  <div class="card m-3">
    <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcRlUoS5K4-lHr4b6dSXySMMjSCgldrlbVJHiAv_SpW0PNekl6N4t2-ZFbJn2HbzcaAlV0w9ZqMPKZo&usqp=CAc" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung Galaxy M32</h5>
    </div>
  </div>
  </div>
</div>


<div class="card-group">
  <div class="collapse multi-collapse" id="multiCollapseExample1">
  <div class="card m-3">
    <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSBf0wBsDzDQPwdK03jjrznEN3ofMn3NkIi4r6LB9CVCbBDk-ObkNwctIc5KRDFNx0MZ8-sx9YC_Lo&usqp=CAc" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung Galaxy F42</h5>
    </div>
  </div>
  </div>
  <div class="collapse multi-collapse" id="multiCollapseExample1">
  <div class="card m-3">
    <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQ26ruNyuBRgRFSQYQvdt2ofmgQqf-Baaif0dEU3qaruJs6mJSyA6aosBOfoXSURthdQqav4lcx8w&usqp=CAc" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung Galaxy F12</h5>
    </div>
  </div>
</div>
  <div class="collapse multi-collapse" id="multiCollapseExample1">
  <div class="card m-3">
    <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRtpaymZQlWfr1DfncEovuYWlPaup5UMq1ca2dzwfkWzUZq_5T7yyMsB9eFfw1Swd1S80pszG8Eig&usqp=CAchttps://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRtpaymZQlWfr1DfncEovuYWlPaup5UMq1ca2dzwfkWzUZq_5T7yyMsB9eFfw1Swd1S80pszG8Eig&usqp=CAc" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung Galaxy M51</h5>
    </div>
  </div>
</div>
</div>

<div class="card-group">
  <div class="collapse multi-collapse" id="multiCollapseExample1">
  <div class="card m-3">
    <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRfNqwyjaNSyI2R4kZVosiFF1xomhqUg1449_NUkKS2Q-uR1ETN6S5befXZSUvcxaSvY1Ghc2YCRg&usqp=CAc" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung Galaxy S21</h5>
    </div>
  </div>
  </div>
  <div class="collapse multi-collapse" id="multiCollapseExample1">
  <div class="card m-3">
    <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTNCnsKXW6EQ5Xd5xaRh_0WBwTA31PK0NegL5n8hyhBxJGTux6DRgh_m10m6aA4pWViHq0Tmueglg_Q&usqp=CAc" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung Galaxy M12</h5>
    </div>
  </div>
  </div>
  <div class="collapse multi-collapse" id="multiCollapseExample1">
  <div class="card m-3">
    <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQfTS_dPXeFtnAq4S2wOYTlp5StJo13xRTCxAJ85PF4iloB19L3qZVhHsdX1HS4Dh04BcrjXXh7VRk&usqp=CAc" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung Galaxy Z-Flip</h5>
    </div>
  </div>
  </div>
</div>

<!-- FOR ONEPLUS-->
<div class="card-group">
  <div class="collapse multi-collapse" id="multiCollapseExample2">
  <div class="card m-3">
    <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcQTIns01PGjJL_uHfVsR_qFe6RRIdln3HPXHgE7S_Z1icLgIplHCRh3mPtCl-T96-8j4-tySSPRb6c&usqp=CAc" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">OnePlus Nord 2 5G</h5>
    </div>
  </div>
  </div>
  <div class="collapse multi-collapse" id="multiCollapseExample2">
  <div class="card m-3">
    <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSaO98LZ8304_h7EChThurBpbw_S5QwbUu6gyrQoRLxkduDGH31LSIv-xyi39qM-vnyIfSKI5cgRg&usqp=CAc" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">OnePlus 9R 5G</h5>
    </div>
  </div>
  </div>
  <div class="collapse multi-collapse" id="multiCollapseExample2">
  <div class="card m-3">
    <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQi2J9aaB6VQ_cYh2F92sVGwAXpw0JRh64E5xrFm6zeA4OvYeuN-6pgF4zq-gTZA2XtwQr9q9SepQ&usqp=CAc" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">OnePlus Nord CE 5G</h5>
    </div>
  </div>
  </div>
</div>


<div class="card-group">
  <div class="collapse multi-collapse" id="multiCollapseExample2">
  <div class="card m-3">
    <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcRWQ2XZXAB_hzDc2HQh-UXBo17w7h3vt8SKCc7uBEsNOXT7xgVsYuSXI1iUZ4L45vAXoeEpx9vkTg&usqp=CAc" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">OnePlus 9 Pro 5G</h5>
    </div>
  </div>
  </div>
  <div class="collapse multi-collapse" id="multiCollapseExample2">
  <div class="card m-3">
    <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcRh7sy-ujoueFg6TFV-XdIWfeikgBkkxYz3oht8hf0alHgZ0ogcZAnOnP2gtXUGlD1RukLxPrygazkixoNRJkUWykAur3j3cLRc8Vsd4jJ0NSXz1qIqF0wlig&usqp=CAE" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">OnePlus 7T Pro</h5>
    </div>
  </div>
</div>
  <div class="collapse multi-collapse" id="multiCollapseExample2">
  <div class="card m-3">
    <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTtdcMFM_HjdC4_vU9l9qVki8JXQp6rimFoFd9UWS8d1bpnz-kAgS7ufLStQqMqhSPoy9V-fxHYM1zfhaEPhygnmqDn1azlczLg98rBhSbaKP2IxlG8yRvbGicj&usqp=CAE" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">OnePlus 7 Pro</h5>
    </div>
  </div>
</div>
</div>

<div class="card-group">
  <div class="collapse multi-collapse" id="multiCollapseExample2">
  <div class="card m-3">
    <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRfNqwyjaNSyI2R4kZVosiFF1xomhqUg1449_NUkKS2Q-uR1ETN6S5befXZSUvcxaSvY1Ghc2YCRg&usqp=CAc" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung Galaxy S21</h5>
    </div>
  </div>
  </div>
  <div class="collapse multi-collapse" id="multiCollapseExample2">
  <div class="card m-3">
    <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTNCnsKXW6EQ5Xd5xaRh_0WBwTA31PK0NegL5n8hyhBxJGTux6DRgh_m10m6aA4pWViHq0Tmueglg_Q&usqp=CAc" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung Galaxy M12</h5>
    </div>
  </div>
  </div>
  <div class="collapse multi-collapse" id="multiCollapseExample2">
  <div class="card m-3">
    <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQfTS_dPXeFtnAq4S2wOYTlp5StJo13xRTCxAJ85PF4iloB19L3qZVhHsdX1HS4Dh04BcrjXXh7VRk&usqp=CAc" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung Galaxy Z-Flip</h5>
    </div>
  </div>
  </div>
</div>


<!-- FOR REDMI-->
<div class="card-group">
  <div class="collapse multi-collapse" id="multiCollapseExample3">
  <div class="card m-3">
    <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTC97drj8cXDNHMtcPNfrf1RJcA1rqJ8l-3PpOZtYASeXcgdOedAHTJpAEw0NI7i5BJzLgPoEdm30DksLSUYO3vzv_Ey01j3IJg8RH6XaQcjtNUBm4cCONE&usqp=CAE" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mi 11X 5G</h5>
    </div>
  </div>
  </div>
  <div class="collapse multi-collapse" id="multiCollapseExample3">
  <div class="card m-3">
    <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcR7AJ0kFp0UTCx8knHpVdgIsKpYamwUu__S19rmCBSDQ3OpybwXmXix0sofA3-3eYz6ehMjfo2vKWDV1k8FOSVOOyVUtStGGUUKU0hAc5miYHaO2QpPTT43sA&usqp=CAE" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mi 10i 5G</h5>
    </div>
  </div>
  </div>
  <div class="collapse multi-collapse" id="multiCollapseExample3">
  <div class="card m-3">
    <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcTrn5kOkyQcBJcsitRaj6B5RDztJrnPpoYQ-g5k5wZ2ErfQaONQXL1P_7j6Q8RtCsf1WWJiDj4pIBxy0HkxqpYd0KNeGExWR6vWn8685V0&usqp=CAE" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mi 10</h5>
    </div>
  </div>
  </div>
</div>


<div class="card-group">
  <div class="collapse multi-collapse" id="multiCollapseExample3">
  <div class="card m-3">
    <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcRVVhqMna25t_R0j-5yWjkINuVCAvpO6U3oeVMuhB3WrajDzdSS2i4mBogeWhhFs1hrkHm0CdaD0vIknr-Wko4FV_oc6Kfo01Txz8hQvNETETvunXeTSuUI9g&usqp=CAE" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Redmi Note 10 Pro</h5>
    </div>
  </div>
  </div>
  <div class="collapse multi-collapse" id="multiCollapseExample3">
  <div class="card m-3">
    <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcSx55lwiCh8FpbIvl89QctCEg_11-D_6IYFtKaDdVHj2NZlKLEso8jSs3GdRbXorHAOAOG0TXfC4xwN02O6PlpCbds-aFEoMx8Qi-a3u3hxPfdzpfCdC4DO&usqp=CAE" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Redmi Note 10 Pro Max</h5>
    </div>
  </div>
</div>
  <div class="collapse multi-collapse" id="multiCollapseExample3">
  <div class="card m-3">
    <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRsaMsOvywRMv0fpq1Bzm5jiUOniwTEXN7fgeIgmtBYohWrG6Rzz37PLbPK6JQm7rea60Sjiv5-2BendTknDM5IkfeKW51I8wHH3tjhd23j&usqp=CAE" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Redmi Note 10S</h5>
    </div>
  </div>
</div>
</div>

<div class="card-group">
  <div class="collapse multi-collapse" id="multiCollapseExample3">
  <div class="card m-3">
    <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSCzdiShzJyxQKi7-g2nyDNJV-syKWSl4je51pJhXEZMa6G95xkWwDaYMRDzWaMpVAZM62_EAUHpmUuyO1KlMeNR36AQdQv_Q&usqp=CAE" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Redmi Note 9</h5>
    </div>
  </div>
  </div>
  <div class="collapse multi-collapse" id="multiCollapseExample3">
  <div class="card m-3">
    <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcSR2GM4vrFQQ7iZ5WSZWzy8qcCbnhcM05a6MViUAHbJlbsg_UBxRukoGwosUAfN5y5MY1nRCVAwGUGK3rx9zCXvhvLr96vvSZtn9KsVuBoYs09ARsVhavih&usqp=CAE" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Redmi Note 9 Pro</h5>
    </div>
  </div>
  </div>
  <div class="collapse multi-collapse" id="multiCollapseExample3">
  <div class="card m-3">
    <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcQIxmbFelVz9wBGEVTQDCPOx5xoHY-PnvKQV6cp8NralZ06ZzacqyqftLOhLPPaE8PDAIQRbvPcr8lDO38CRWHjkdMZImjyfXLVlrnTBZVz_oM4_Q-YRBRf&usqp=CAE" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Redmi Note 10 Lite</h5>
    </div>
  </div>
  </div>
</div>


<!-- FOR APPLE-->
<div class="card-group">
  <div class="collapse multi-collapse" id="multiCollapseExample4">
  <div class="card m-3">
    <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTvEUV4XQR71f0RDYRyzFVwdlWAxLVVYREr3gaIMOZAF1uwa-1g9y-IDaUshMspt8TeEQ_yVDdwGANsbq3P1DY_4AWL6W2XHXO9a_NlrZCiOhiWlQ42H8BA&usqp=CAE" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Apple iPhone 11</h5>
    </div>
  </div>
  </div>
  <div class="collapse multi-collapse" id="multiCollapseExample4">
  <div class="card m-3">
    <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRG5yYn1X0DXawowfGgkaxPaeKDWFvMh2xXazOvUbcHRn3pdeqdlLik4nVXJ8QtxayLGkLtaADP2XMIp6YXvVpZnVVzxA1yoBr28zris_fILzEgGBXjRsx8&usqp=CAE" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Apple iPhone 11 Pro</h5>
    </div>
  </div>
  </div>
  <div class="collapse multi-collapse" id="multiCollapseExample4">
  <div class="card m-3">
    <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcSjTxhsk_PWOSXydmpt0sHZVcxuF1Eq9PfhV4OldlwYcfLd57afXD_KQLKD7kEVEPnQk3Fg51oaSR_dojV3KzqFVcq1gkgCsVcgJCjCnVKseueW48GbOJTQ3w&usqp=CAE" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Apple iPhone 11 Pro Max</h5>
    </div>
  </div>
  </div>
</div>


<div class="card-group">
  <div class="collapse multi-collapse" id="multiCollapseExample4">
  <div class="card m-3">
    <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSBxWbeNlZ92z6kBy2hCdiO0G-IQWuJH3GDzI8Fonm6LaTPBa0iH7o5IOkb0OY4AbDjIfaugHpYXXvDRh9wUZHAJgkOM_ZwMn4zDfp87KBdGvd2Ks_LBt9E&usqp=CAE" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Apple iPhone 12 Mini</h5>
    </div>
  </div>
  </div>
  <div class="collapse multi-collapse" id="multiCollapseExample4">
  <div class="card m-3">
    <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcQ0M74j3awO_x5rInkzXkLYVIQ4JFKvJLLQJsUbWAr3wJGOnimjeVCRElaqT2-HQMSUpi5_J-3nQffzow9686wTFC4jLWqFOTtsfglu1SqFCsyEqykp4-Pjzw&usqp=CAE" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Apple iPhone 12</h5>
    </div>
  </div>
</div>
  <div class="collapse multi-collapse" id="multiCollapseExample4">
  <div class="card m-3">
    <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSsmjGT3h7CyjkFtQfh0VGIQI-p7Y-J9Vv6rWYE9xEO29q73akRM0siffapArb6Sl7LLKd9IhwDQ-FeoDJhiXGwgGEnafR07iVrxOnpB2b7UGCej0OBCQBW&usqp=CAE" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Apple iPhone 12 Pro</h5>
    </div>
  </div>
</div>
</div>

<div class="card-group">
  <div class="collapse multi-collapse" id="multiCollapseExample4">
  <div class="card m-3">
    <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcRJ_mSp4Fnrc9c0Btn20-FyJDtdvvSwv_8ubr9RuR3aC5ub6LP4zBKshL4kFEdM6AhW6PBFhHT-uPV0r3RJ_eie2ygAEgamSkvtSa8YUSCZRX7OoMWhNbbvVQ&usqp=CAE" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Apple iPhone 12 Pro Max</h5>
    </div>
  </div>
  </div>
  <div class="collapse multi-collapse" id="multiCollapseExample4">
  <div class="card m-3">
    <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTpXFedRzPNFEapTYBl9jE-0BxzaQ9JOe1Udhx9ky4VVUVBv0QZ_OCdsAIUFgSMt7kucDBM0bxaJvMcyODyHGR8PU30qmN0Iepf6ZhMOuibLg_V95mPTj3w&usqp=CAE" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Apple iPhone 13 Mini</h5>
    </div>
  </div>
  </div>
  <div class="collapse multi-collapse" id="multiCollapseExample4">
  <div class="card m-3">
    <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcT7tpAOWRQtgN28SgpHy52NRnVqch8EtJEapHZTOQi9RnVzW6Ru-IYw7CRjXsUZjp_lDZd9DaHnf2Lzca4Sb2esW8Ozxq4inpSrVooW9ZzbgKnTz-EZ2ZyUpw&usqp=CAE" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Apple iPhone 13</h5>
    </div>
  </div>
  </div>
</div>



<!--
<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first element</a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        Some placeholder content for the second collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
      </div> 
    </div>
  </div>
</div>
-->