<div class="container">
    <div class="login-form sm-1 md-2 lg-3">
        <div class="login">
            <h3>CONTACT FORM</h3>
        </div>
        <p class="content"> Hey Customers !!<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hope you are doing great and having an amazing experience shopping with us.
        <br><b>Ezycart</b> provides you a wide range of products with extraordinary discounts. We are pleased to have your valuable feedback. Please contact us if you are facing any issues.
        <br><p class="tq">Thank You ! :) </p>
        <div class="card-group">
            <div class="card">
              <img src="https://tse1.mm.bing.net/th?id=OIP.oMm5Ye_bd_WRDT6PA3bmKgHaHa&pid=Api&P=0&w=300&h=300" class="card-img-top" alt="...">
              <div class="card-body text-dark">
                <a class="card-text">www.facebook.com/ezycart</a>
              </div>
            </div>
            <div class="card">
              <img src="https://tse4.mm.bing.net/th?id=OIP.z8qetsddiFnZ2Y2fnDqpJQHaHa&pid=Api&P=0&w=300&h=300" class="card-img-top" alt="...">
              <div class="card-body text-dark">
                <a class="card-text">www.gmail.com/ezycart</a>
              </div>
            </div>
            <div class="card">
              <img src="https://cdn.vox-cdn.com/thumbor/1WTVpMp69QbGZ-3uVxNT04NDTjk=/0x56:640x416/1600x900/cdn.vox-cdn.com/assets/2576321/twitter_logo_640.jpg" style="height:211px; width: 211px;" class="card-img-top" alt="...">
              <div class="card-body text-dark">
                <a class="card-text">www.twitter.com/ezycart</a>
              </div>
            </div>
          </div>
    </div>
</div>
